/* -- FONTS -- */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.fredoka {
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

:root {
	/* -- TRANSITION -- */

	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.3s ease;
	--tran-05: all 0.3s ease;

	--body-font: "Poppins", sans-serif;
	--theme-bg: #f6f7fb;
	--body-color: #333;
	--button-bg: #fdfbff;
	--border-color: #000;
	--delay: 0s;
}

html {
	-webkit-font-smoothing: antialiased;
}

/* -- SIDEBAR -- */

.sidebar {
	width: 15%;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	transition-duration: 0.2s;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar .logo img {
	width: 200px;
	height: 100px;
	margin-top: -1.5rem;
	margin-left: -1rem;
	flex-shrink: 0;
	color: #333;
	align-items: left;
	justify-content: left;
	object-fit: cover;
}

.sidebar-link:hover,
.sidebar-link.is-active {
	color: #ff6486;
	font-weight: 600;
}

.sidebar-link:hover:nth-child(2n + 1) svg,
.sidebar-link.is-active:nth-child(2n + 1) svg {
	background: #ff7551;
}

.sidebar-link:hover:nth-child(2n) svg,
.sidebar-link.is-active:nth-child(2n) svg {
	background: #32a7e2;
}

.sidebar-link:hover:nth-child(2n + 3) svg,
.sidebar-link.is-active:nth-child(2n + 3) svg {
	background: #ff6486;
}

.sidebar.collapse {
	width: 90px;
	border-right: 1px solid var(--border-color);
}

@keyframes bottom {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.side-menu {
	display: flex;
	flex-direction: column;
}

.side-menu a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--body-color);
}

.side-menu a + a {
	margin-top: 26px;
}

.bi {
	font-size: 1.5rem;
	margin-right: 0.75rem;
}

.side-title {
	font-size: 12px;
	letter-spacing: 0.07em;
	margin-bottom: 24px;
	color: #333;
}
.side-wrapper {
	border-bottom: 1px solid var(--border-color);
	padding: 36px 0;
	width: 145px;
}
.side-wrapper + .side-wrapper {
	border-bottom: none;
}

/* -- DASHBOARD -- */

.wrapper-top {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.header-dashboard {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	padding: 30px;
}
.search-bar {
	height: 34px;
	display: flex;
	width: 100%;
	max-width: 450px;
}
.search-bar input {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #e4e4e4a9;
	border-radius: 8px;
	font-family: var(--body-font);
	font-size: 14px;
	font-weight: 500;
	padding: 0 40px 0 16px;
	box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
	color: #ff6486;
}

.user-settings-container {
	display: flex;
	position: relative;
	left: 60%;
}

.user-settings {
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 20px;
	cursor: pointer;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 9999;
}

.dropdown-menu a {
	display: block;
	padding: 8px 16px;
	color: black;
	text-decoration: none;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1;
}

.notify {
	position: relative;
	display: flex;
	align-items: center;
}

.notification {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 8px;
	height: 8px;
	background-color: red;
	border-radius: 50%;
}

@media screen and (max-width: 575px) {
	.user-settings .notify .notification {
		display: none;
	}
}

.main-container {
	display: flex;
	flex-direction: column;
	padding: 0 30px 30px;
	flex-grow: 1;
	overflow: auto;
}

.anim {
	animation: bottom 0.8s var(--delay) both;
}

.main-header {
	font-size: 30px;
	color: #333;
	font-weight: 700;
	margin-top: 30px;
	padding-bottom: 20px;
	position: sticky;
	top: 0;
	left: 0;
	background: linear-gradient(
		to bottom,
		#f6f7fb 0%,
		#f6f7fb 78%,
		rgb(31 29 43 / 0%) 100%
	);

	z-index: 11;
}

.main-welcome {
	display: flex;
	align-items: center;
}

.main-block__contents {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.main-block__title {
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #333;
	margin-bottom: 30px;
}

.main-block {
	display: flex;
	flex-direction: column;
	width: 69%;
	padding: 30px;
	border-radius: 20px;
	align-self: stretch;
	overflow: hidden;
	position: relative;
	transition: background 0.3s;
	background-repeat: no-repeat;
	background-image: url("images/dashboard-pic.png");
	background-size: cover;
	background-position: center;
}

/* .main-block + .main-block {
	margin-left: 20px;
	width: 35%;
	background-color: #31abbd;
} */

.sub-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-top: 1px solid #ccc;
	margin-top: 40px;
}

.sub-categories {
	display: flex;
	align-items: center;
}

.sub-block__contents {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.sub-block__title {
	font-weight: 600;
	color: #333;
	margin-top: 12px;
	margin-left: 80px;
}

.sub-block {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 20vh;
	margin-top: 45px;
	padding: 30px;
	border-radius: 20px;
	align-self: stretch;
	overflow: hidden;
	position: relative;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sub-block + .sub-block {
	margin-left: 20px;
}

.bottom-table-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.bottom-categories {
	display: flex;
	align-items: center;
}

.bottom-block__contents {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.bottom-block__title {
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #e73b3b;
	margin-bottom: 30px;
	text-align: center;
}

.bottom-block {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50vh;
	margin-top: 40px;
	padding: 30px;
	border-radius: 20px;
	align-self: stretch;
	overflow: hidden;
	position: relative;
	transition: background 0.3s;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bottom-block + .bottom-block {
	margin-left: 20px;
}

@media screen and (max-width: 905px) {
	.main-block,
	.main-block + .main-block {
		width: 50%;
		padding: 30px;
	}
	.main-block {
		background-size: cover;
		background-position-x: center;
		background-blend-mode: overlay;
	}
}

@media screen and (max-width: 475px) {
	.main-block__title {
		font-size: 20px;
	}

	.main-block__contents {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	.main-container {
		padding: 0 20px 20px;
	}
	.header-dashboard {
		padding: 20px;
	}
	.sidebar.collapse {
		width: 40px;
	}
	.sidebar {
		align-items: center;
	}
	body {
		padding: 0;
	}
}
::-webkit-scrollbar {
	width: 6px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #d3d3d3;
	border-radius: 10px;
}

.circle {
	position: absolute;
	top: 30px;
	left: 30px;
	height: 60px;
	width: 60px;
	background: #ff8ba0;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.small-text {
	font-size: 18px;
	font-weight: 400;
	color: #333;
	line-height: 0.1rem;
}

.large-text {
	font-size: 28px;
	font-weight: 600;
	color: #333;
	margin-top: 5px;
}

.product-number {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.number {
	font-size: 50px;
	font-weight: bold;
	color: #333;
	margin: 0;
	padding-right: 10px;
	text-align: right;
	line-height: 1;
	margin-top: 10px;
}

.item-text {
	font-size: 18px;
	color: #333;
	margin: 0;
	margin-top: 30px;
}

.trans-text {
	font-size: 28px;
	font-weight: 400;
	color: #333;
	margin-top: 5px;
	margin-left: 20px;
	text-align: left;
}

.day {
	font-size: 60px;
	font-weight: 600;
	color: #333;
	opacity: 0.2;
	margin-bottom: -30px;
}

.clock {
	font-size: 100px;
	font-weight: 600;
	color: #333;
	opacity: 0.2;
	margin-bottom: -30px;
}

/* -- basta yung calendar -- */

.wrapper {
	width: 515px;
	background-color: #e8fdff;
	border-radius: 30px;
	margin-left: 1.5rem;
}
.wrapper header {
	display: flex;
	align-items: center;
	padding: 25px 30px 10px;
	justify-content: space-between;
}
header .icons {
	display: flex;
}
header .icons span {
	height: 50px;
	width: 38px;
	margin: 0 1px;
	cursor: pointer;
	color: #878787;
	text-align: center;
	line-height: 38px;
	font-size: 1.9rem;
	user-select: none;
}
.icons span:last-child {
	margin-right: -10px;
}
header .icons span:hover {
	background: #f2f2f2;
}
header .current-date {
	font-size: 1.45rem;
	font-weight: 500;
}
.calendar {
	padding: 5px;
}
.calendar ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;

	margin-bottom: 10px;
}
.calendar .days {
	margin-bottom: 20px;
}
.calendar li {
	color: #333;
	width: calc(100% / 7);
	font-size: 1.07rem;
}
.calendar .weeks li {
	font-weight: 500;
	cursor: default;
}
.calendar .days li {
	z-index: 1;
	cursor: pointer;
	position: relative;
	margin-top: 20px;
}
.days li.inactive {
	color: #aaa;
}
.days li.active {
	color: #fff;
}
.days li::before {
	position: absolute;
	content: "";
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	z-index: -1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
.days li.active::before {
	background: #ff6486;
}
.days li:not(.active):hover::before {
	background: #f2f2f2;
}

/* -- PRODUCTS -- */

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding: 20px;
	background-color: transparent;
}

.img-upload {
	border: 1px solid black;
	margin-left: 120px;
	margin-bottom: 20px;
	border-radius: 50%;
	object-fit: cover;
	width: 150px;
	height: 150px;
}

.fielddata-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	width: calc(20% - 40px); /* 4 items per row with 20px gap */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.fielddata-item:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fielddata-details {
	text-align: center;
	background: transparent;
	padding: 10px;
}

.fielddata-prodname {
	font-size: 1.5rem;
	margin: 10px 0;
	color: #333;
}

.fielddata-desc {
	font-size: 1rem;
	color: #777;
	margin-bottom: 10px;
}

.fielddata-item img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 15px;
	transition: transform 0.2s ease;
}

.fielddata-item img:hover {
	transform: scale(1.09);
}

/* -- ACCOUNTS -- */

.wrapper-table {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.edit-button {
	background-color: transparent;
	color: rgba(35, 84, 190, 0.767);
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 28px;
}

/* ====== TABLE ===== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main.table {
	width: calc(100vw - 200px);
	max-width: 100%;
	width: 80vw;
	height: 85vh;
	margin-top: 30px;

	font-size: 16px;
	overflow: hidden;
}

.table__header {
	position: relative;
	width: 100%;
	height: 10%;
	padding: 0.8rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #e4e4e4;
}

.table__header .input-group {
	width: 35%;
	height: 100%;
	max-height: 50px;
	background-color: #fefffe;
	padding: 0 0.8rem;
	border: 2px solid gainsboro;
	border-radius: 1rem;
	margin-top: 20px;
	margin-left: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width 0.3s ease, box-shadow 0.3s ease;
}

.table__header .input-group:hover {
	width: 45%;
	box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group input {
	width: 100%;
	padding: 0 0.5rem 0 0.3rem;
	background-color: transparent;
	border: none;
	outline: none;
}

.table__body {
	width: 95%;
	max-height: calc(89% - 1.6rem);
	background-color: #ffffff;
	border: 1px solid #e4e4e4;
	margin: 0.8rem auto;
	border-radius: 8px;
	overflow: auto;
}

.table__body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: #cccccc;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead th {
	padding: 1rem;
	position: sticky;
	top: 0;
	background-color: #f8f9fa;
	cursor: pointer;
	text-transform: capitalize;
	color: #343a40;
	z-index: 2;
	transition: background-color 0.3s ease, color 0.3s ease;
}

thead th:hover {
	background-color: #e9ecef;
	color: #495057;
}

thead th span.icon-arrow {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-left: 0.5rem;
	transition: transform 0.2s ease-in-out;
}

thead th.asc span.icon-arrow {
	transform: rotate(180deg);
}

tbody tr:nth-child(even) {
	background-color: #f8f9fa;
}

tbody tr:hover {
	background-color: #f1f3f5;
}

tbody tr td {
	padding: 1rem;
	transition: background-color 0.2s ease;
}

tbody tr.hide {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

tbody tr.hide td {
	padding: 0;
	font-size: 0;
}

tbody tr.hide td img {
	width: 0;
	height: 0;
	transition: width 0.2s ease-in-out 0.5s, height 0.2s ease-in-out 0.5s;
}

@media (max-width: 1000px) {
	td:not(:first-of-type) {
		min-width: 12.1rem;
	}
}

thead th span.icon-arrow {
	display: inline-block;
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	border: 1.4px solid transparent;
	text-align: center;
	font-size: 1rem;
	margin-left: 0.5rem;
	transition: border 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
	border: 1.4px solid #fc6782;
}

thead th:hover {
	color: #fc6782;
}

thead th.active span.icon-arrow {
	background-color: #fc6782;
	color: #fff;
}

thead th.asc span.icon-arrow {
	transform: rotate(180deg);
}

thead th.active,
tbody td.active {
	color: #fc6782;
}

/* -- UPLOAD IMAGE !! (tinanggal ko) (nilagay ko sa overview muna)-- */

.upload {
	width: 100px;
	position: relative;
	margin: 20px;
}

.upload img {
	border-radius: 50%;
}

.upload .round {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #00b4ff;
	width: 32px;
	height: 32px;
	line-height: 33px;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
}

.upload .round input[type="file"] {
	position: absolute;
	transform: scale(2);
	opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	.form .column {
		flex-wrap: wrap;
	}
	.form :where(.gender-option, .gender) {
		row-gap: 15px;
	}
}
